<!DOCTYPE html>
<html>
<head>
  <title>FayeRails4Example</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <style type="text/css" media="screen">
    body {
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>

<h1>Faye Tutorial</h1>

<%= yield %>

</body>
</html>
